@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Roboto-Regular.woff);
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Roboto-Bold.woff);
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-white-bg: #ffffff;
  --color-persian-blue-bg: #3F2AFF;
  --color-radial-gradient: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);

  --color-white: #ffffff;
  --color-sapphire-blue: #2E2B44;
  --color-dull-gray: #666666;
  --color-light-purplish-blue: #85859B;
}

body {
  max-width: 1440px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1111px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 14px;
}

/* Header */

.header {
  min-height: 80px;
  background-color: var(--color-persian-blue-bg);
}

.header__nav {
  position: relative;
  display: flex;
  padding-top: 28px;
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  justify-content: flex-start;
}

.header__item:not(:last-child) {
  margin-right: 56px;
}

.header__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
}

/* Hero */

.hero {
  background: var(--color-radial-gradient);
  margin-bottom: 80px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__text-block {
  padding-top: 130px;
  margin-right: 18px;
}

.hero__text-block-title {
  max-width: 459px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--color-white);
  margin-bottom: 30px;
}

.hero__text-block-subtitle {
  max-width: 444px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 70px;
}

.hero__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  background-color: var(--color-persian-blue-bg);
  border-radius: 20px;
  padding: 24px 76px;
  margin-bottom: 130px;
  cursor: pointer;
}

.hero__img {
  padding-top: 15px;
}

/* about */

.about {
  margin-bottom: 80px;
}

.about__inner {
  position: relative;
}

.about__title {
  max-width: 380px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-sapphire-blue);
  padding-left: 205px;
  margin-bottom: 30px;
}

.about__title::before {
  content: url(../img/about_img.png);
  position: absolute;
  top: 22px;
  left: 15px;

}

.about__paragraph {
  max-width: 585px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-dull-gray);
  padding-left: 205px;
  margin-bottom: 46px;
}

.about__list {
  display: flex;
  justify-content: flex-start;
  margin-left: 125px;
}

.about__list-item {
  position: relative;
  max-width: 237px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-dull-gray);
  margin-right: 138px;
}

.about__list-item:last-child {
  margin-right: 0;
}

.about__list-item:first-child::before {
  content: url(../img/eye-circle.png);
  position: absolute;
  top: -16px;
  left: -110px;
}

.about__list-item:nth-child(2)::before {
  content: url(../img/fingers.png);
  position: absolute;
  top: -16px;
  left: -110px;
}

.about__list-item:last-child::before {
  content: url(../img/megaphone.png);
  position: absolute;
  top: -16px;
  left: -110px;
}

/* teachers */

.teachers {
  background-color: var(--color-sapphire-blue);
  margin-bottom: 80px;
}

.teachers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-white);
  padding-top: 80px;
  padding: 80px 0 0 15px;
  margin-bottom: 30px;
}

.teachers__list {
  display: flex;
  justify-content: flex-start;
}

.teachers__list-item:not(:last-child) {
  margin-right: 30px;
  margin: 0 30px 80px 0;
}

.teachers__list-item-img {
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 30px;
}

.teachers__list-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 15px;
}

.teachers__list-paragraph {
  max-width: 254px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-purplish-blue);
  }
